
html, body {
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #202020;
  border-radius: 2px;
}


.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-circular {
  font-family: 'Circular Std Medium', sans-serif;
  line-height: 1;
}

.avatar {
  width: 192px;
}

@media (min-width: 768px) {

  .md\:text-7xl {
    font-size: 7rem;
  }

  .avatar {
    width: 256px;
  }

}
